/* src/components/Checkbox.css */
.checkbox-container {
    display: flex;
    align-items: center; /* Vertically align the checkbox with the label */
    gap: 8px; /* Add space between the checkbox and the label */
    margin-bottom: 15px;
    color:#007bff;
  }
  
  .checkbox-container input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: #007bff; /* Set the checkbox color */
  }
  
  .checkbox-container label {
    font-size: 16px;
    color: #333;
    cursor: pointer; /* Allow clicking on the label to toggle the checkbox */
  }
  